@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply font-Inter;
  }
  .aboutIllustartion {
    -webkit-box-shadow: -16px 16px 0px -7px rgba(81, 97, 233, 1);
    -moz-box-shadow: -16px 16px 0px -7px rgba(81, 97, 233, 1);
    box-shadow: -16px 16px 0px -7px rgba(81, 97, 233, 1);
  }
  .layoutBox {
    @apply w-full m-0 md:w-[90%] md:mx-auto;
  }
  .layoutBoxnav {
    @apply w-full m-0  md:w-[100%] md:mx-auto;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  :root {
    --gradient-custom: linear-gradient(to right, #ff4721, #ffa52b);
  }
  .animate-fadeIn {
    animation: fadeIn 1s ease-in-out forwards;
  }




/* Your existing styles */

/* Apply for small devices (up to 767px width) */
@media (max-width: 767px) {
  .profileCenter {
    justify-content: center;
  }
}

#editor-container {
  height: 375px;
}
.displayQuill{
  border: none;
  margin-top: 0.5rem;
  color: rgb(55 65 81);
}
.ql-container.ql-snow{
  border: none;
}


.displayQuill{
  border: none;
  margin-top: 0.5rem;
  color: rgb(55 65 81);
}
.ql-container.ql-snow{
  border: none;
}



/* ============ */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
